{% set image = page.media.images|first %}

<div class="callout">
    <div class="columns">
        {% if image and page.header.image_align == 'right' %}
        <div class="column col-8 col-md-12 content-item">
            {{ content }}
        </div>
        <div class="column col-4 col-md-12">
            {{ image.cropResize(600,600).html }}
        </div>
        {% elseif image and page.header.image_align == 'left' %}
        <div class="column col-4 col-md-12">
            {{ image.cropResize(600,600).html }}
        </div>
        <div class="column col-8 col-md-12 content-item">
            {{ content }}
        </div>
        {% else %}
        <div class="column content-item">
            {{ content }}
        </div>
        {% endif %}
    </div>
</div>
