<!DOCTYPE html>
<html lang="{{ html_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title|e }} | {% endif %}{{ site.title|e }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.canoncial }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css-compiled/spectre.css', 102) %}
        {% do assets.addCss('theme://css-compiled/enigma.css', 101) %}
        {% do assets.addCss('theme://css/custom.css', 100) %}
        {% do assets.addCss('theme://css/font-awesome.min.css', 100) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 101) %}
        {% do assets.addJs('theme://js/smooth-scroll.min.js') %}
        {% do assets.addJs('theme://js/enigma.js') %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes }}">
    {% block header %}
    <header id="header" class="{{ theme.header.position }} {{ theme.header.style }}">
        <div class="container wrapper grid-size">
            <div class="columns cols-gapless">
                <div id="logo" class="column col-6 col-md-12">
                    <a href="{{ home_url }}">{% include 'partials/logo.html.twig' %}</a>
                </div>
                <div id="navbar" class="column col-6 col-md-12">
                    {% block header_extra %}{% endblock %}
                    {% if config.plugins.langswitcher.enabled %}
                    {% include 'partials/langswitcher.html.twig' %}
                    {% endif %}
                    {% block header_navigation %}
                    {% include 'partials/navigation.html.twig' %}
                    {% endblock %}
                    <span id="mobile-toggle" class="fa fa-bars"></span>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    {% block showcase %}{% endblock %}
    {% block body %}
    <section id="body" {% if theme.hero.size is same as(false) %}class="no-hero"{% endif %}>
        {% if theme.hero.size is not same as(false) %}

            {% set hero_size = theme.hero.size %}
            {% set hero_image = page.media.images[theme.hero.image] %}
            {% set hero_color = hero_image ? false : theme.hero.color %}
            {% set hero_style = theme.hero.style ?: 'dark' %}

            <div id="hero-header" class="hero-header-{{ hero_size }} hero-header-{{ hero_style }}{{ theme.hero.overlay ? ' hero-header-overlay' : '' }}{{ hero_color ? ' hero-header-color' : ''  }}{{ hero_image ? ' hero-header-image' : '' }}" {% if hero_color %}style="background-color:{{ hero_color  }};"{% endif %}>
                <div id="hero-header-image" {% if hero_image %}style="background-image: url({{ hero_image.url }});"{% endif %} ></div>
                {% block hero_wrapper %}
                    {% if theme.hero.overlay %}
                        <div class="hero-header-wrapper"></div>
                    {% endif %}
                {% endblock %}
                <div class="container wrapper grid-size">
                    {% block hero_content %}
                        {% if theme.default.title == 'hero' %}
                            <h1>{{ page.title|markdown }}</h1>
                            {% if page.header.subtitle %}
                                <h4>{{ page.header.subtitle|markdown }}</h4>
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                </div>
                {% if theme.hero.size == 'fullscreen' %}
                    <a href="#" id="to-start"><div class="mouse-scroller"></div></a>
                {% endif %}
            </div>
        {% endif %}
        <div id="body-wrapper">
            <div class="container wrapper grid-size">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </section>
    {% endblock %}

    {% block footer %}
    <footer id="footer">
        <div class="container wrapper grid-size">
            <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p>
            <div class="totop">
                <span><a href="#" id="to-top" class="circle inline-block mt-20"><i class="fa fa-chevron-up"></i></a></span>
            </div>
        </div>
    </footer>
    {% endblock %}
    {% block bottom %}
        {{ assets.js('bottom') }}
    {% endblock %}
</body>
</html>
