<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title|e }} | {% endif %}{{ site.title|e }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.canoncial }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css-compiled/spectre.css', 102) %}
        {% do assets.addCss('theme://css-compiled/enigma.css', 101) %}
        {% do assets.addCss('theme://css/custom.css', 100) %}
        {% do assets.addCss('theme://css/font-awesome.min.css', 100) %}
    {% endblock %}

    {% block javascripts %}
        {% do assets.addJs('jquery', 101) %}
        {% do assets.addJs('theme://js/smooth-scroll.min.js') %}
        {% do assets.addJs('theme://js/enigma.js') %}
    {% endblock %}

    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock %}
{% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes }}">
    {% block header %}
    <header id="header" class="{{ theme.header.position }} {{ theme.header.style }}">
        <div class="container wrapper grid-size">
            <div class="columns cols-gapless">
                <div id="logo" class="column col-6 col-md-12">
                    <a href="{{ home_url }}">{% include 'partials/logo.html.twig' %}</a>
                </div>
                <div id="navbar" class="column col-6 col-md-12">
                    {% block header_extra %}{% endblock %}
                    {% if config.plugins.langswitcher.enabled %}
                    {% include 'partials/langswitcher.html.twig' %}
                    {% endif %}
                    {% block header_navigation %}
                    {% include 'partials/navigation.html.twig' %}
                    {% endblock %}
                    <span id="mobile-toggle" class="fa fa-bars"></span>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    {% block showcase %}{% endblock %}
    {% block body %}
    <section id="body" {% if theme.hero.size is same as(false) %}class="no-hero"{% endif %}>
        {% block hero %}
            {% embed 'partials/hero.html.twig' %}{% endembed %}
        {% endblock %}
        <div id="body-wrapper">
            {% block body_wrapper %}
            <div class="container wrapper grid-size">
                {% block content %}
                    <div class="columns">
                        <div id="item" class="column col-12">
                            {% if theme.default.show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
                                {% include 'partials/breadcrumbs.html.twig' %}
                            {% endif %}
                            <div class="content-item">
                                {% if theme.default.title == 'content' %}
                                    <div class="content-title text-center">
                                        <h1 class="mt-0">{{ page.title|markdown }}</h1>
                                        {% if page.header.subtitle %}
                                            <h4>{{ page.header.subtitle|markdown }}</h4>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {{ page.content }}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
            {% endblock %}
        </div>
    </section>
    {% endblock %}

    {% block footer %}
    <footer id="footer">
        <div class="container wrapper grid-size">
            <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p>
            <div class="totop">
                <span><a href="#" id="to-top" class="circle inline-block mt-20"><i class="fa fa-chevron-up"></i></a></span>
            </div>
        </div>
    </footer>
    {% endblock %}
    {% block bottom %}
        {{ assets.js('bottom')|raw }}
    {% endblock %}
</body>
</html>
