{% if theme.hero.size is not same as(false) %}

    {% set hero_size = theme.hero.size %}
    {% set hero_image = page.media.images[theme.hero.image] %}
    {% set hero_color = hero_image ? false : theme.hero.color %}
    {% set hero_style = theme.hero.style ?: 'dark' %}

    <div id="hero-header" class="hero-header-{{ hero_size }} hero-header-{{ hero_style }}{{ theme.hero.overlay ? ' hero-header-overlay' : '' }}{{ hero_color ? ' hero-header-color' : ''  }}{{ hero_image ? ' hero-header-image' : '' }}" {% if hero_color %}style="background-color:{{ hero_color  }};"{% endif %}>
        <div id="hero-header-image" {% if hero_image %}style="background-image: url({{ hero_image.url }});"{% endif %} ></div>
        {% block hero_wrapper %}
            {% if theme.hero.overlay %}
                <div class="hero-header-wrapper"></div>
            {% endif %}
        {% endblock %}
        <div class="container wrapper grid-size">
            {% block hero_content %}
                {% if theme.default.title == 'hero' %}
                    <h1>{{ page.title|markdown }}</h1>
                    {% if page.header.subtitle %}
                        <h4>{{ page.header.subtitle|markdown }}</h4>
                    {% endif %}
                {% endif %}
            {% endblock %}
        </div>
        {% if theme.hero.size == 'fullscreen' %}
            <a href="#" id="to-start"><div class="mouse-scroller"></div></a>
        {% endif %}
    </div>
{% endif %}