{% extends 'partials/base.html.twig' %}

{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% set page_collection = page.collection() %}
{% set hero_page = page_collection|first %}
{% set page_collection = page_collection|slice(1) %}

{% block javascripts %}
    {% if theme.modular.show_onpage_menu %}
        {% do assets.add('theme://js/singlePageNav.min.js', {group:'bottom'}) %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block bottom %}
    {{ parent() }}
    {% if theme.modular.show_onpage_menu %}
        <script>
        // singlePageNav initialization & configuration
        $('#navbar').singlePageNav({
            offset: $('#header').outerHeight(),
            filter: ':not(.external)',
            updateHash: true,
            currentClass: 'active'
        });
        </script>
    {% endif %}
{% endblock %}

{% block header_navigation %}
    {% if theme.modular.show_onpage_menu %}
        <ul class="navigation caps-title">
        {% for module in page.collection() %}
            {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
            <li class="{{ current_module }}"><a href="#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a></li>
        {% endfor %}
        {% for mitem in site.menu %}
            <li>
                <a href="{{ mitem.url }}">
                    {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                    {{ mitem.text }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {{  parent() }}
    {% endif %}
{% endblock %}

{% block hero %}
    {% embed 'partials/hero.html.twig' with {page:hero_page} %}
        {% block hero_content%}
            {{ page.content }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body_wrapper %}
    {% for module in page_collection %}
    {% set module_name = _self.pageLinkName(module.menu) %}
    <div class="type-{{ module.template|replace('/','-') }}">
        <div id="{{ module_name }}"></div>
        <div id="module-{{ module_name }}" class="container wrapper grid-size">
            {% block content %}
                <div class="columns">
                    <div class="column col-12">
                        <div class="modular-item">
                            {{ module.content }}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
    {% endfor %}
{% endblock %}

